<script setup>
import { storeToRefs } from 'pinia';
import { onMounted, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import SesionDeUsuario from '../../js/sesionDeUsuario';
import { useAuthStore } from '../../stores/authStore';

const router = useRouter();
const authStore = useAuthStore();

//Variables
const sesion = new SesionDeUsuario(router);

//Reactivas
let { credenciales } = storeToRefs(authStore);
let usuario = ref('');

//Funciones
onMounted(() => {
  setTimeout(() => {
    usuario.value = credenciales.value['usuarioAcceso']; //Carga el usuario en el navbar
  }, 300);
});

function cerrarSesion() {
  localStorage.removeItem('usuario');
  router.replace('/login');
}
</script>

<template>
  <nav class="navbar navbar-expand-lg bg-light shadow-sm">
    <div class="container-fluid">
      <RouterLink to="/" class="navbar-brand d-flex flew-row align-items-center" href="#">
        <span class="fs-4 ms-2 text-secondary fw-bold">Pedidos <span class="badge rounded-pill text-bg-danger shadow-sm">AVC</span></span>
      </RouterLink>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navBarPedidos"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-lg-end" id="navBarPedidos">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-secondary fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span> Modulos</span> </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><RouterLink class="dropdown-item" to="/pedidos">Pedidos</RouterLink></li>
            </ul>
          </li>
          <li class="nav-item dropdown text-secondary fw-bold">
            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>{{ usuario }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item " href="#" @click.prevent="cerrarSesion">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
