<script setup>
import { onMounted, ref } from 'vue';

let mostrar = ref(false);

onMounted(() => {
  setTimeout(() => {
    mostrar.value = true;
  }, 500);
});
</script>
<template>
  <div v-if="mostrar" class="row">
    <div class="col-12 d-flex justify-content-center text-center">
      <div class="flex-column">
        <div class="lds-ring">
          <div class="m-0"></div>
          <div class="m-0"></div>
          <div class="m-0"></div>
        </div>
        <span class="d-block fs-8 text-muted">Cargando...</span>
      </div>
    </div>
  </div>
</template>

<style>
.lds-ring {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 4px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(59, 69, 211) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
