<script setup>

</script>

<template>
 
   
    <div class="text-center text-wrap mt-5">
      <p class="server-error-text">Oh oh!</p>
      <p class="text-muted fs-6">Al parecer hay un error en el servidor.</p>
    </div>
    <div class="d-flex justify-content-center">
      <button @click="$router.back()" class="btn btn-primary shadow mt-5" type="button">Volver</button>
    </div>

</template>
<style>


.server-error-text {
  font-size: 35pt;
  font-weight: bold;
}
</style>
