<script setup>
</script>

<template>
    <div class="text-center text-wrap mt-5">
      <p class="not-found-text">No autorizado!</p>
      <p class="text-muted fs-6">No tienes permisos para la acción solicitada.</p>
    </div>
    <div class="d-flex justify-content-center">
      <button @click="$router.back()" class="btn btn-primary shadow mt-5" type="button">Volver</button>
    </div>
</template>
<style>
.not-found-text {
  font-size: 35pt;
  font-weight: bold;
}
</style>
