<script setup>
import { ref, onMounted, watch } from 'vue';
import { useAuthStore } from '../../stores/authStore';
import { storeToRefs } from 'pinia';
import axios from 'axios';
import axiosConfig from '../../js/axiosConfig';

//State
const authStore = useAuthStore();

//Emits
const emit = defineEmits(['update:listaPedidos']);

//Reactivas
let listaClientes = ref([]);
let listaProductos = ref([]);
let mostrarSpinner = ref(false);
let { credenciales } = storeToRefs(authStore);
let rolDeUsuario = credenciales.value['rol'];

//Formulario
let idExistencia = ref(0);
let unidadDeMedida = ref('');
let cantidadExistencia = ref(0);
let idPedido = ref(0);
let fkCliente = ref(0);
let fkProducto = ref(0);
let cantidad = ref(0);
let estatus = ref('');

let clienteAxios = axios.create();
let urlAgregarPedido = '/api/Pedido/AgregarPedido';
let urlProductos = '/api/Producto/DevolverProductos';
let urlClientes = '/api/Cliente/DevolverClientes';
let urlExistenciaPorProducto = '/api/Existencia/DevolverExistenciaPorProductoId';
let urlEditarExistencia = '/api/Existencia/EditarExistencia';

//Funciones
onMounted(() => {
  limpiarFormulario();
  cargarProductos();
  cargarClientes();
});

watch(fkProducto, (actual, previo) => {
  devolverExistenciaPorProducto();
});

function validarFormulario() {
  return fkCliente.value != 0 && fkProducto.value != 0 && cantidad.value != 0 && estatus.value != '';
}

function limpiarFormulario() {
  idPedido.value = 0;
  fkCliente.value = 0;
  fkProducto.value = 0;
  idExistencia.value = 0;
  cantidad.value = 0;
  estatus.value = '';
}

function cargarProductos() {
  axiosConfig.url = urlProductos;
  axiosConfig.method = 'get';
  axiosConfig.data = {};

  mostrarSpinner.value = true;
  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaProductos.value = response['data'];
    })
    .catch((response) => {
      console.log(response);
    })
    .finally(() => {
      mostrarSpinner.value = false;
    });
}

function cargarClientes() {
  axiosConfig.url = urlClientes;
  axiosConfig.method = 'get';
  axiosConfig.data = {};

  mostrarSpinner.value = true;
  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaClientes.value = response['data'];
    })
    .catch((response) => {
      console.log(response);
    })
    .finally(() => {
      mostrarSpinner.value = false;
    });
}

function devolverExistenciaPorProducto() {
  if (fkProducto.value == 0) return;

  axiosConfig.url = urlExistenciaPorProducto;
  axiosConfig.method = 'get';
  axiosConfig.data = {};
  axiosConfig.params = {
    productoId: fkProducto.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      cantidadExistencia.value = response['data']['stock'];
      idExistencia.value = response['data']['idExistencia'];
      unidadDeMedida.value = response['data']['unidadDeMedida'];
    })
    .catch((error) => {
      console.log(error);
    });
}

function editarExistencia() {
  axiosConfig.url = urlEditarExistencia;
  axiosConfig.method = 'put';
  axiosConfig.data = {
    stock: cantidadExistencia.value - cantidad.value, //Resta al stock actual lo usado en un pedido
    unidadDeMedida: unidadDeMedida.value
  };
  axiosConfig.params = {
    existenciaId: idExistencia.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      console.log(response['data']);
      emit('update:listaPedidos');
    })
    .catch((error) => {
      console.log(error);
    });
}

function agregarPedido() {
  if (!validarFormulario()) return;

  if (cantidad.value > cantidadExistencia.value && rolDeUsuario === 'Administrativo') {
    alert('El personal administrativo no puede hacer pedidos sin stock suficiente.');
    return;
  }
  
  axiosConfig.url = urlAgregarPedido;
  axiosConfig.method = 'post';
  axiosConfig.data = {
    fkCliente: fkCliente.value,
    fkProducto: fkProducto.value,
    cantidad: cantidad.value,
    estatus: estatus.value
  };

  mostrarSpinner.value = true;
  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      
      editarExistencia(); //Resta la cantidad del pedido a la existencia
      emit('update:listaPedidos');
      alert('Agregado correctamente!');
      limpiarFormulario();
    })
    .catch((error) => {
      console.log(error);
    })
    .finally(() => {
      mostrarSpinner.value = false;
    });
}
</script>
<template>
  <div class="text-end">
    <span class="text-muted fw-bold">Stock: {{ cantidadExistencia }}</span>
  </div>
  <form @submit.prevent="agregarPedido()">
    <div class="row">
      <div class="col-lg-6 mb-2">
        <label class="form-label">Producto</label>
        <select v-model.number="fkProducto" class="form-select" required>
          <option value="0">Seleccione...</option>
          <option v-for="producto in listaProductos" :value="producto['idProducto']" :key="producto['idProducto']">
            {{ producto['nombreProducto'] }}
          </option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Cliente</label>
        <select v-model.number="fkCliente" class="form-select" required>
          <option value="0">Seleccione...</option>
          <option v-for="cliente in listaClientes" :value="cliente['idCliente']" :key="cliente['idCliente']">{{ cliente['nombreCliente'] }}</option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Estatus</label>
        <select v-model="estatus" class="form-select" required>
          <option value="Por definir">Seleccione...</option>
          <option value="Completado">Completado</option>
          <option value="Pendiente">Pendiente</option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Cantidad</label>
        <input v-model.number="cantidad" type="text" class="form-control" placeholder="" required />
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>
</template>
