<script setup>
import { ref, onMounted, watch, toRefs } from 'vue';
import { useAuthStore } from '../../stores/authStore';
import { storeToRefs } from 'pinia';
import axios from 'axios';
import axiosConfig from '../../js/axiosConfig';

//State
const authStore = useAuthStore();

//Emits
const emit = defineEmits(['update:listaPedidos']);

//Props
const props = defineProps(['idPedido']);
let { idPedido } = toRefs(props);

//Reactivas
let listaClientes = ref([]);
let listaProductos = ref([]);

let { credenciales } = storeToRefs(authStore);
let rolDeUsuario = credenciales.value['rol'];

//Formulario
let idExistencia = ref(0);
let unidadDeMedida = ref('');
let fkCliente = ref(0);
let fkProducto = ref(0);
let cantidadExistencia = ref(0);
let cantidad = ref(0);
let estatus = ref('');

let clienteAxios = axios.create();
let urlEditarPedido = '/api/Pedido/EditarPedido';
let urlProductos = '/api/Producto/DevolverProductos';
let urlClientes = '/api/Cliente/DevolverClientes';
let urlPedidoPorId = '/api/Pedido/DevolverPedidoPorId';
let urlExistenciaPorProducto = '/api/Existencia/DevolverExistenciaPorProductoId';
let urlEditarExistencia = '/api/Existencia/EditarExistencia';

//Funciones
onMounted(() => {
  cargarProductos();
  cargarClientes();
  devolverPedidoPorId();
});

watch(idPedido, (actual, previo) => {
  devolverPedidoPorId();
});

watch(fkProducto, (actual, previo) => {
  devolverExistenciaPorProducto();
});


function devolverPedidoPorId() {
  axiosConfig.url = urlPedidoPorId;
  axiosConfig.method = 'get';
  axiosConfig.data = {};
  axiosConfig.params = {
    pedidoId: idPedido.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      let pedido = response['data'];
      fkCliente.value = pedido['fkCliente'];
      fkProducto.value = pedido['fkProducto'];
      cantidad.value = pedido['cantidad'];
      estatus.value = pedido['estatus'];
    })
    .catch((response) => {
      console.log(response);
    });
}

function cargarProductos() {
  axiosConfig.url = urlProductos;
  axiosConfig.method = 'get';
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaProductos.value = response['data'];
    })
    .catch((response) => {
      console.log(response);
    });
}

function cargarClientes() {
  axiosConfig.url = urlClientes;
  axiosConfig.method = 'get';
  axiosConfig.data = {};

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaClientes.value = response['data'];
    })
    .catch((response) => {
      console.log(response);
    });
}

function devolverExistenciaPorProducto() {
  axiosConfig.url = urlExistenciaPorProducto;
  axiosConfig.method = 'get';
  axiosConfig.data = {};
  axiosConfig.params = {
    productoId: fkProducto.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      cantidadExistencia.value = response['data']['stock'];
      idExistencia.value = response['data']['idExistencia'];
      unidadDeMedida.value = response['data']['unidadDeMedida'];
    })
    .catch((error) => {
      console.log(error);
    });
}

function editarExistencia() {
  axiosConfig.url = urlEditarExistencia;
  axiosConfig.method = 'put';
  axiosConfig.data = {
    stock: cantidadExistencia.value - cantidad.value, //Resta al stock actual lo usado en un pedido
    unidadDeMedida: unidadDeMedida.value
  };
  axiosConfig.params = {
    existenciaId: idExistencia.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      console.log(response['data']);
      emit('update:listaPedidos');
    })
    .catch((error) => {
      console.log(error);
    });
}

function editarPedido() {

  if (cantidad.value > cantidadExistencia.value && rolDeUsuario === 'Administrativo') {
    alert('El personal administrativo no puede hacer pedidos sin stock suficiente.');
    return;
  }

  editarExistencia(); //Resta la cantidad del pedido a la existencia

  axiosConfig.url = urlEditarPedido;
  axiosConfig.method = 'put';
  axiosConfig.data = {
    fkCliente: fkCliente.value,
    fkProducto: fkProducto.value,
    cantidad: cantidad.value,
    estatus: estatus.value
  };

  axiosConfig.params = {
    pedidoId: idPedido.value
  };

  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      alert('Editado correctamente!');
      emit('update:listaPedidos');
      devolverExistenciaPorProducto();  //Refresca el stock
    })
    .catch((error) => {
      console.log(error);
    });
}
</script>
<template>
    <div class="text-end">
        <span class="text-muted fw-bold">Stock: {{ cantidadExistencia }}</span>
    </div>
  <form @submit.prevent="editarPedido()">
    <div class="row">
      <div class="col-lg-6 mb-2">
        <label class="form-label">Producto</label>
        <select v-model.number="fkProducto" class="form-select" required>
          <option value="0">Seleccione...</option>
          <option v-for="producto in listaProductos" :value="producto['idProducto']" :key="producto['idProducto']">
            {{ producto['nombreProducto'] }}
          </option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Cliente</label>
        <select v-model.number="fkCliente" class="form-select" required>
          <option value="0">Seleccione...</option>
          <option v-for="cliente in listaClientes" :value="cliente['idCliente']" :key="cliente['idCliente']">{{ cliente['nombreCliente'] }}</option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Estatus</label>
        <select v-model="estatus" class="form-select" required>
          <option value="">Seleccione...</option>
          <option value="Completado">Completado</option>
          <option value="Pendiente">Pendiente</option>
        </select>
      </div>
      <div class="col-lg-6 mb-2">
        <label class="form-label">Cantidad</label>
        <input v-model.number="cantidad" type="text" class="form-control" placeholder="Cantidad de unidades" required />
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button type="button" class="btn btn-danger me-3" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </form>
</template>
