<script setup>
import Spinner from '../comunes/Spinner.vue';
import { ref, onMounted, watch, toRefs } from 'vue';
import { useAuthStore } from '../../stores/authStore';
import { storeToRefs } from 'pinia';
import axios from 'axios';
import axiosConfig from '../../js/axiosConfig';

//Emits
const emit = defineEmits(['open:Modal']);

//Props
const props = defineProps(['actualizarLista']);
let { actualizarLista } = toRefs(props);

//State
const authStore = useAuthStore();

//Reactivas
let listaPedidos = ref([]);
let { credenciales } = storeToRefs(authStore);
let mostrarSpinner = ref(false);

let clienteAxios = axios.create();
let urlPedidos = '/api/Pedido/DevolverPedidos';

//Funciones

onMounted(() => {
  devolverPedidos();
});

watch(actualizarLista, (actual, previo) => {
  devolverPedidos();
});

function devolverPedidos() {
  axiosConfig.url = urlPedidos;
  axiosConfig.method = 'get';

  mostrarSpinner.value = true;
  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      listaPedidos.value = response['data'];
    })
    .catch((response) => {
      console.log(response);
    })
    .finally(() => {
      mostrarSpinner.value = false;
    });
}
</script>
<template>
  <div class="row mt-3">
    <div class="col-12">
      <div class="table-responsive rounded">
        <table class="table table-striped table-borderless">
          <thead>
            <tr>
              <th class="text-center align-middle">ID</th>
              <th class="text-center align-middle">Clave de producto</th>
              <th class="text-center align-middle">Producto</th>
              <th class="text-center align-middle">Cliente</th>
              <th class="text-center align-middle">Cantidad</th>
              <th class="text-center align-middle">Estatus</th>
              <th class="text-center align-middle">Importe</th>
              <th class="text-center align-middle">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="pedido in listaPedidos" :key="pedido['idPedido']">
              <td class="text-center align-middle fs-6">{{ pedido['idPedido'] }}</td>
              <td class="text-center align-middle fs-6">{{ pedido['claveProducto'] }}</td>
              <td class="text-center align-middle fs-6">{{ pedido['nombreProducto'] }}</td>
              <td class="text-center align-middle fs-6">{{ pedido['nombreCliente'] }}</td>
              <td class="text-center align-middle fs-6">{{ pedido['cantidad'] }}</td>
              <td class="text-center align-middle fs-6">{{ pedido['estatus'] }}</td>
              <td class="text-end align-middle fs-6">$ {{ pedido['precioUnitario'] * pedido['cantidad'] }}</td>
              <td class="text-center align-middle">
                <button type="button" title="Editar" class="btn btn-sm btn-warning" @click="$emit('open:Modal', pedido['idPedido'])">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <Spinner v-if="mostrarSpinner"></Spinner>
</template>
