<script setup>
import { computed } from '@vue/reactivity';
import { useRouter } from 'vue-router';
import { ref } from 'vue';
import { useAuthStore } from '../../stores/authStore';

//Importacion de funciones
import axios from 'axios';
import axiosConfig from '../../js/axiosConfig';

//Componentes
import Spinner from '../comunes/Spinner.vue';
import { storeToRefs } from 'pinia';

//Router
const router = useRouter();

//Variables
let usuario = '';
let pass = '';

//State
const authStore = useAuthStore();

//Reactivas
let { credenciales } = storeToRefs(authStore);

let clienteAxios = axios.create();
let urlAutenticar = `/api/Token/Autenticar`;

//Reactivas
let error = ref('');
let mostrarSpinner = ref(false);

//Computed
const classError = computed(() => {
  return error.value !== '' ? 'form-control is-invalid' : 'form-control';
});

//Funciones
function limpiarFormulario() {
  usuario = '';
  pass = '';
}

function autenticarUsuario() {
  if (pass == '' || usuario == '') {
    error.value = ['Campos de acceso vacíos.'];
    return;
  }
  axiosConfig.url = urlAutenticar;
  axiosConfig.data = { usuarioAcceso: usuario, claveAcceso: pass };
  axiosConfig.method = 'post';


  mostrarSpinner.value = true;
  clienteAxios
    .request(axiosConfig)
    .then((response) => {
      response = response['data'];
      credenciales.value = response;
      localStorage.setItem('usuario', JSON.stringify(credenciales.value));
      router.replace('/');
    })
    .catch((response) => {
      console.log(response);
      error.value = 'Credenciales de acceso no válidas';
      limpiarFormulario();
    })
    .finally(() => {
      mostrarSpinner.value = false;
    });
}
</script>

<template>
  <div class="card border-0 shadow">
    <div class="card-body px-5 pt-0 mb-0">
      <div class="row text-center my-3">
        <span class="fs-3 fw-bold text-morado-base">Inicio de sesión </span>
      </div>
      <form @submit.prevent="autenticarUsuario()">
        <div class="form-floating mb-2 text-secondary">
          <input v-model="usuario" type="text" :class="classError" id="usuario" name="usuario" placeholder="Usuario" required />
          <label for="usuario"
            ><span><i class="fa-solid fa-user me-2"></i></span> Usuario</label
          >
        </div>
        <div class="form-floating text-secondary mb-2">
          <input v-model="pass" type="password" :class="classError" id="password" name="password" placeholder="Contraseña" required />
          <label for="password">
            <span><i class="fas fa-lock me-2"></i> Clave</span></label
          >
        </div>

        <div class="mt-2 text-center text-danger">
          <span class="fs-10"><i class="fas fa-info-circle"></i> {{ error }}</span>
        </div>

        <Spinner v-if="mostrarSpinner"></Spinner>

        <div class="row mb-3 mt-4 px-3">
          <button class="btn shadow text-light btn-success" type="submit">Ingresar</button>
        </div>
      </form>
    </div>
  </div>
</template>
