<script setup>
import Navbar from '../comunes/Navbar.vue';
import { useAuthStore } from '../../stores/authStore';
import { storeToRefs } from 'pinia';
//State
const authStore = useAuthStore();

//Reactivas
let { credenciales } = storeToRefs(authStore);
</script>
<template>
    <Navbar></Navbar>
  <div class="text-center mt-5">
    <p class="fs-1 text-muted">
      <span class="badge text-bg-light text-muted shadow-sm" id="elemento"
        >Bienvenido(a) <span class="text-beige-base">{{ credenciales['usuarioAcceso'] }} </span> !</span
      >
    </p>
  </div>
</template>
