<script setup>
import { onMounted } from 'vue';
import FormLogin from '../login/FormLogin.vue';

onMounted(() => {
  localStorage.removeItem('usuario');
});
</script>

<template>
  <div class="bg-light">
    <div class="row min-vh-100 justify-content-center">
      <div class="col-10 col-sm-10 col-md-8 col-lg-4">
        <div class="row pt-5 mt-5"></div>
        <FormLogin></FormLogin>
      </div>
    </div>
  </div>
</template>
