<script setup>
import Navbar from '../comunes/Navbar.vue';
import ListaDePedidos from '../pedidos/ListaDePedidos.vue';
import EditarPedido from '../pedidos/EditarPedido.vue';
import AgregarPedido from '../pedidos/AgregarPedido.vue';
import { ref } from 'vue';
import { useAuthStore } from '../../stores/authStore';
import { storeToRefs } from 'pinia';

//State
const authStore = useAuthStore();

let actualizarLista = ref(false);

//Reactivas
let { credenciales } = storeToRefs(authStore);
let rolUsuario = credenciales.value['rol'];
let idPedido = ref(0);

//Funciones
function abrirModalPedido(pedidoId) {
  idPedido.value = pedidoId;
  const modalPedido = new bootstrap.Modal(document.getElementById('modalPedido'));
  modalPedido.show();
}

function actualizarListaPedidos() {
  actualizarLista.value = !actualizarLista.value;
}
</script>
<template>
  <Navbar></Navbar>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <button v-if="rolUsuario !== 'Administrativo'"  @click="abrirModalPedido(0)" type="button" class="btn btn-success">Crear pedido +</button>
      </div>
    </div>
    <div class="card my-3 shadow-sm">
      <div class="card-header pb-0">
        <div class="card-title">Lista de pedidos</div>
      </div>

      <div class="card-body">
        <ListaDePedidos :actualizarLista="actualizarLista" @open:Modal="(pedidoId) => abrirModalPedido(pedidoId)"></ListaDePedidos>
      </div>
    </div>

    <div
      class="modal fade"
      id="modalPedido"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Pedido</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <AgregarPedido v-if="idPedido === 0" @update:lista-pedidos="actualizarListaPedidos()"></AgregarPedido>
            <EditarPedido v-else @update:lista-pedidos="actualizarListaPedidos()" :id-pedido="idPedido"></EditarPedido>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
